<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <link rel="stylesheet" href="/css/style.css"> 
  <script src="https://code.jquery.com/jquery.js"></script>



  <title>Billify</title>
</head>

<body>
  <header id="masthead">
    <div class="container">
      <a href="/index" id="logo">Billify</a>
      <nav>
        <a href="/index">Dashboard</a>
        <a href='#'>Tips</a>
        <a href="#">Developers</a>
      </nav>
    </div>
  </header>
  {{{body}}}
</body>

</html>