<body>
        <br>
        <br>
    <h1 align ="center" class = "develop">The Developers</h1>
    <br>
    <br>
<div>
    <h3 align = "center">Alexander Cryderman</h3>
    <br>
    <img src = "../images/alex.jpg" height="300" width="300" align= "center">
    <br>
    <h3 align = "center">Michael Neuman</h3>
    <br>
    <img src = "../images/mike.jpg"height= "300" width= "300" align= "center">
    <br>
    <h3 align = "center">Rori Jackson</h3>
    <br>
    <img src = "../images/rori.jpg" height= "300" width= "300" align= "center">
    <br>
    <h3 align = "center">Sean Gerbich</h3>
    <br>
    <img src = "../images/sean.jpg" height="300" width= "300" align= "center">
    <br>
	</div>
</body>
	</div>
</body>