<body>
    <h1 align ="center">About The Developers</h1>
    <br>
    <br>
<div>
    <h3 align = "center">Alexander Cryderman</h3>
    <img src = "../public/images/alex.jpg">
    <h3 align = "center">Michael Neuman</h3>
    <img src = "..public/images/mike.jpg">
    <h3 align = "center">Rori Jackson</h3>
    <img src = "../public/images/rori.jpg">
    <h3 align = "center">Sean Gerbich</h3>
    <img src = "..public/images/sean.jpg">
	</div>
</body>