  <header id="masthead">
    <div class="container">
      <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">Billify</a>
    <div align="right">
		  <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/index" class="pure-menu-link">Dashboard</a></li>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">Developers</a></li>
    </ul>
		  </div>
</div>
    </div>
  </header>
<div class="signupBox">
<form id="signup" name="signup" method="post" action="/signup">
    <label for="email">Username</label>
    <br>
    <input class="text" name="email" type="text" placeholder="Billman123" /> 
    {{#if message}}
    <h1>{{message}}</h1>
    {{/if}}
    <br>
    <label for="firstname">Firstname</label>
    <br>
    <input name="firstname" type="text" placeholder="Bill" />
    <br>
    <label for="lastname">Lastname</label>
    <br>
    <input name="lastname" type="text" placeholder="Man" />
    <br>
    <label for="password">Password</label>
    <br>
    <input name="password" type="password" placeholder="*****" />
    <br>
    <input class="btn" type="submit" value="Sign Up" />
</form>
<br>

<div id="signIn">
    <span> Existing User?
</span>
    <a href='/signin'>
        <button>Sign In</button>
    </a>
</div>
</div>